
.cabecalho{
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 150px;
  background-color:var(--cor-branco1);
  font-size: 1.4rem;
  margin: 10px; 
  padding: 20px 30px;
  justify-content: space-around;
  align-items: center
   
 }
 .cabecalho-nav{
 display: flex;
 margin: 0px;
 } 
 .cabecalho-lista{
  display: flex;
  flex-wrap: wrap;
   padding: 0px ;
   margin: 0px;
   }
  .cabecalho-item{
    padding: 8px ;
     }
  .login{
  font-weight: 500;
  margin-right: 10px;
}
  .login-entrar{
 color: var(--cor-texto);
  font-size: 1.5rem;
 margin-right: 10px;
  
}