html , body{
  overflow-x: hidden !important;
}
:root{
  --cor-texto: #DC7878;
 --cor-fundo1:#F9B0B0;
 --cor-botao: #FF6969;
 --cor-preto1:#000000;
 --cor-preto2:#2E2E2E;

 --cor-cinza-escuro:#202020;
 --cor-marron:#422626;
 --cor-clara:#fff;
}
 
 
body{ 
  background-color: var(--cor-clara);
  margin: 0px auto;
  padding: 0px;
  max-width: 1400px;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
border: 20px solid var(--cor-preto2); 
 }

.todo-conteudo{
  display:block;
  max-width: 1200px;
}
  .tela{
    max-width:1400px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

  }
 img{
   max-width: 100%;
    height: auto;
 }
ul{
 list-style: none;
 }
 a{
  text-decoration: none;
  color:var(--cor-preto1);
 } 
 .botao-padrao,
 .botao-a{
  background-color: var(--cor-botao);
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  margin: 20px; 
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--cor-clara);
   text-align: center;
 } 


 .grid-2col{
max-width: 1200px;
background-color:var(--cor-clara);
margin: -8px 10px;
display: grid;
padding: 40px;
grid-template-columns: 1fr 1fr;
justify-content: center;
 } 

 #mensagem{
  border: none;
  padding: 50px;
}

@media(max-width:600px){
   body{
    border: none;
   }

}@media(min-width:1400px){
  body{
   border: none;
  }

}