.tela-rodape {
   max-width: 1400px;
    background-color: black;

}
.rodape{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
   padding: 20px;
}

.rodape-service a,
.rodape{
  color: aliceblue;
 }
 .rodape ul li{
   margin: 20px 0px;
}
.rodape-service a{
    cursor: pointer;
}
.rodape-red-social ul{
display:flex;
 flex-wrap: wrap;
justify-content: center;
margin: 0px 50px;
}
.rodape-red-social img{
  max-width: 40px;
  padding: 20px;
}
.rodape-red-social p{
  color: #fff; 
  text-align:center ;
  padding: 40px ;
  margin: 0px;
}
.rodape-service li a:hover,
.rodape-contato li:hover{
   color: #f39f9f;
}

@media(max-width:700px){
  .rodape{
     grid-template-columns: 1fr  1fr;
     border-top: 30px solid var(--cor-preto2);
  }
  .rodape-log{
    grid-column: 1/-1 ;
  margin: 0px auto;
  }
  .rodape-contato{
    grid-column: 1 ;
  }
  .rodape-red-social img{
    max-width: 34px;
     padding: 10px;
  }
}
@media(max-width:430px){
  .rodape{
    grid-template-columns: 1fr; 
}
.rodape-contato,
.rodape-service{
  margin: 0px auto;
}

}
@media(max-width:385px){
  .rodape-red-social img{
    max-width: 25px;
     padding: 10px;
  
}}
@media(max-width:312px){
  .rodape-red-social img{
    max-width: 10px;
   margin: 0px;
   padding: 3px;
    
  
}}