.sobre-nos{
border-top: 4px solid var(--cor-fundo1);
  }
  .conteudo-sobre-nos{
    display: block;
    flex-direction: column;
    align-items: center; 
  }
  .titulo-sobre-nos{
    margin: 30px;
  }
.texto-sobre-nos{
    width: 300px;
    margin: 0px 30px;
    }
.ttulo-nome{
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0px 0px 30px;
  position: relative;
  z-index: 1;
}
.subtitulo-nome{
 margin: 20px 30px;

}
  .ttulo-nome::before{
    content: '';
    position: absolute;
    width: 60px;
    height:30px;
    background-color: var(--cor-botao);
    left: -2px;
    border-radius: 50px;
    z-index: -1;
    }
  .menssagem{
  width: 300px;
  margin-top: -200px;
  grid-column:1 ;
  }
  .curtidas{
  position: relative;
  }
  .curtida::before{
  content: var('');
  position: absolute;
  }
  .modelo-img{
  margin-top: -60px;
  }

 