.grid-carrinho{
  background-color: #F8EAE4;
  margin: 60px;
   display: grid;
    grid-template-columns:  1fr 1fr;
}
.grid-carrinho > .pagina-carrinho{
grid-column: 1/-1;
}
.pagina-carrinho{
  display: flex;
  gap: 20px;
  justify-content: end;
  align-items: center;
  margin: 0px 40px;
 
}

.pagina-carrinho h2{
 padding-left: 20px;

}
.pagina-carrinho img{
 max-width: 30px;
 max-height:30px ;
 }
 

.pagina-carrinho-2{
display: flex;
justify-content:space-evenly;
}
.grid-carrinho > .pagina-carrinho-lista{
  grid-column: 1/-1;
}
.pagina-carrinho-lista{
    display:flex;
     justify-content: space-between;
   margin-right: 40px;
  border-bottom: 1px solid #D5CFCF;
  }
.carrinho-qtd span{
  margin: 0px  10px; 
 padding: 5px 10px;
  background-color: #fff;

}
  .opcao-entrega{
  display:block;
  margin: 10px;
  }
  .opcao-entrega label{
    font-size: 24px;
  }
  .opcao-entrega [type =radio]{
     width: 20px;
     height: 20px;
      margin-right: 20px;
    
    }

  .grid-carrinho >.fechar-pagamento{
  grid-column: 1/-1;
  margin: 20px 40px;
  }
   .fechar-pagamento{
      display: grid;
       grid-template-columns: 2fr 1fr;
        gap:10px;
     
   }
   .total-pagamento{
    grid-column: 2;
   } 
   .calcular-frete{
     align-items: center;
   }
   .calcular-frete input{
   border: #D5CFCF;
    padding: 5px 10px;
    margin-left: 10px;
}

 .botao-link a{
   display: flex;
    flex-direction: column;

 
 }
 .botao-link > .botao-a{
   text-align: center;
 }
 .btn-confirma{
  background-color: #17AB25;
 }
  @media (max-width:800px){
    .fechar-pagamento{
      display: flex;
      flex-direction: column;
      
      align-items: center;
   
    }
    
  }  @media (max-width:600px){
    .pagina-carrinho-lista{
      display: grid;
      grid-template-columns: 1.5sfr 1fr 1.5fr;
   
    }.carrinho-total{
      grid-column: 3;
    }
    
  }  @media (max-width:500px){
    .pagina-carrinho-lista{
      gap: 0px;
      padding: 0px;
      margin: 10px;
      align-content: center;
       max-width: 100%;
 
    }
    .opcao-entrega label,
    .pagina-carrinho-lista h3{
     font-size: 1rem; 
   }.carrinho-total{
      grid-column: 3;
    }
    .grid-carrinho{
      margin: 60px 20px;
    }
    .calcular-frete h2{
      font-size: 1rem;
       text-align: center;
      margin: 20px 0;
    }
  }